<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/base.css">
		<title>Password Share</title>
	</head>
	<body>

	  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div id="navbar">
          <ul class="nav navbar-nav navbar-left">
              <li>Password Share</li>
          </ul>
        </div>
      </div>
    </nav>
		<div class="container-fluid" id="group-page">
			<div class="row">
				<div class="col-md-12" id="full-width">
					<div class="banner-container">
						SUBSCRIPTIONS
					</div>	
					<div class="group-container">
						<div class="group-name-container">		
							FRIENDS	
						</div>
						<hr>
						<div class="subscription-scroll-container">
							<div class="subscription-thumbnail">
								<img class="thumb" src="../static/img/netflix.png">
							</div>	
							<div class="subscription-thumbnail">
								<img class="thumb" src="../static/img/hulu.png">
							</div>	
							<div class="subscription-thumbnail">
								<img class="thumb" src="../static/img/wsj.png">
							</div>	
						</div>
					</div>
				</div> 
		  </div>
		</div>
	</body>
</html>